
<div class="home-container">

  <span class="portfolio-watermark">PORTFOLIO</span>

  <div class="text-content-container">

    <div class="home-text">
      <h2> ILLUSTRATOR &#183; ARTIST</h2>
      <h1>Holly Valley</h1>
    </div>

    <div class="cta-buttons">
        <a class="cta-button-a" href="#gallery">View Work</a>
      
        <a class="cta-button-b" href="#contact">Contact Me</a>
    </div>

      <p class="home-quote"> cozy sketches. <br> small moments.</p>

  </div>

  <div class="mobile-home-image">
    <img src="/images/mobile-home-overlay.png" alt="Animal Sketch">
  </div>

  <div class="desktop-home-image">
    <img src="/images/home-overlay.png" alt="Animal Sketch">
  </div>

</div>
