

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
}

.home-text {
  text-align: center;
}

.home-text h1 {
  font-family: 'Passions Conflict', cursive;
  font-size: 4.5rem;
  opacity: 0.8;
  font-weight: 400;
  margin: 0;
}

.home-text h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1rem;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}


.home-quote {
  transform: translate(6.25vw, 65.625vw);
}

.mobile-home-image img {
  width: 100vw;
  height: auto;
}

.desktop-home-image {
  display: none;
}

@media (min-width: 768px) {

  .home-container {
    position: relative;
  }

.mobile-home-image{
    display: none;
}
  .home-text {
    z-index: 2;
  }

  .home-text h1 {
    font-size: 5.5rem;
    opacity: 0.6;
  }

  .home-quote {
    transform: none;
  }

  .text-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 45%;
  }

  .desktop-home-image {
    position: relative;
    display: block;
    z-index: 1;
    left: 0;
    top: 15%;
    overflow: hidden;
  }

  .desktop-home-image img {
    width: 100vw;
    height: auto;
  }

}

@media (min-width: 1024px) {
  .text-content-container {
    top: 40%
  }
  .home-text {
    right: 50%;
  }
  .home-text h1 {
    font-size: 7rem;
  }

  .home-text h2 {
    font-size: 3rem;
    margin-top: -70px;
  }


 .desktop-home-image {
    left: 5%;
 }

 .desktop-home-image img {
    width: 80vw;
 }
}

@media (min-width: 1200px) {
  .home-text h1 {
    font-size: 8rem;
  }

  .home-text h2 {
    font-size: 3.5rem;
    margin-top: -80px;
  }

 .desktop-home-image img {
    width: 70vw;
 }
}
