.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}


.about-content {
  padding: 30px;
}

.about-content p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1em;
line-height: 1.6em;
}

.about-image {
  min-width: 320px;


}

.about-image img {
  width: 100%;
  height: auto;
margin-top: -50px;


}
