<div class="about-container">  


  <div class="about-content"><p>Holly’s cozy art style comes to life through delicate sketches
      filled with emotion and quiet storytelling.</p></div>

<div class="about-image">
    <img src="/images/about-overlay.png" alt="Cozy art by Holly">
  </div>


<div class="about-tags">
      <p class="about-quote">"Each piece captures
      a small, comforting moment worth pausing for."</p>

      <div class="about-medium">
      <p class="graphite">Graphite </p> &#183; <p class="ink">Ink </p>&#183; <p class="watercolor">Watercolor</p>
      </div>

      </div>


  
</div>
