
.contact-section {
  position: relative;
  background-image: url('/images/final-cbg.png');
  overflow: hidden;
 padding-bottom: 2em;
 background-repeat: no-repeat;
 filter: drop-shadow(5px -5px 10px rgba(0, 0, 0, 0.3));
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 10% 0 10%;
  z-index: 10;
}
.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 300;
  letter-spacing: .15em;
  margin-top: 3em;
  color: #F4F1EC;
}

h2:before {
  content: '- ';
}

h2:after {
  content: ' -'
}

p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5em;
  opacity: 0.6;
  text-align: center;
  color:#F4F1EC;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form-group {
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
}

label {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: .2em;
  color: #F4F1EC;
}

input, textarea {
  width: 100%;
  display: block;
  border: none;
  font-family: 'Antonio', sans-serif;
  font-weight: 300;
  background: transparent;
  outline: none;
  line-height: 2rem;
  color: #F4F1EC;
}


textarea {
  resize: none;
  height: 2rem;
}

button {
  background: none;
  font-family: 'Antonio', sans-serif;
  font-size: large;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
  color: #F4F1EC;
  border: 2px solid #F4F1EC;
  padding: 20px 20px;
  width: auto;
  margin-bottom: 2em;
}

button:hover {
  border: 2px solid #F4F1EC;
  color: #4d7c75;
  background-color: #F4F1EC;
  transition: all 0.4s;
}

@media( min-width: 1024px) {
  .contact-section {
    background-image: url('/images/final-cbg-larger.png');
  }

label {
  font-size: 1.2em;
}

  input, textarea {
    font-size: 1.3em;
    letter-spacing: .02em;
    padding-top: .5em;
    
  }
}

@media(min-width: 1440px) {
  .contact-section {
    background-image: url('/images/final-cbg-largest.png');
  }
}


