<div class="mobile-wrapper">

    <div class="mobile-gallery">
    <div class="div1">
      <img src="/images/deer-horizontal.webp" alt="Deer laying down together">
    </div>
    <div class="div2">
      <img src="/images/berries-mushroom.webp" alt="Berries and mushrooms in a forest">
    </div>
    <div class="div3">
      <img src="/images/bunny-arms-stretched.webp" alt="Bunny with arms stretched out">
    </div>
    <div class="div4">
      <img src="/images/kitten.webp" alt="Kitten looking up">
    </div>
    <div class="div5">
      <img src="/images/deer-vertical.webp" alt="Deer standing in a forest">
    </div>
    <div class="div6">
      <img src="/images/forest-animal.webp" alt="Forest animal standing">
    </div>
    <div class="div7">
      <img src="/images/bunny-and-flower.webp" alt="Curious fox looking">
    </div>

    
</div>
<div class="cta-button">
        <a class="cta-button-a">FIND PRINTS</a>
    </div>
</div>




<div class="desktop-gallery">
    <div class="watermark-wrap">
    <span class="gallery-watermark">GALLERY</span>
</div>

    <div class="desktop-wrapper">
        <div class="gallery-col offset-down">
            <div class="gallery-item right-side">
                <img src="images/berries-mushroom.webp" alt="Berries and Mushroom" />
            </div>
        </div>
    

    <div class="gallery-col gallery-double">
        <div class="gallery-item">
            <img src="images/forest-animal.webp" alt="Forest Animal" />
        </div>
        <div class="gallery-item">
            <img src="images/kitten.webp" alt="kitten">
        </div>
    </div>

   
    <div class="gallery-col gallery-feature">
        <div class="gallery-item">
            <img src="images/deer-vertical.webp" alt="Deer Vertical" />
            
        </div>
    </div>

    <div class="gallery-col gallery-double">
        <div class="gallery-item">
            <img src="images/bunny-arms-stretched.webp" alt="Bunny Arms Stretched" />
        </div>
        <div class="gallery-item">
            <img src="images/bunny-and-flower.webp" alt="Bunny and Flower" />
        </div>
    </div>

    <div class="gallery-col offset-down">
        <div class="gallery-item left-side">
            <img src="images/deer-horizontal.webp" alt="Deer" />
            
        </div>
    </div>
</div>

<div class="cta-button-desk">
        <a class="cta-button-a">FIND PRINTS</a>
    </div>
</div>

