<div class="wrapper">
    <div class="div1">
      <img src="/images/deer-horizontal.webp" alt="Deer laying down together">
    </div>
    <div class="div2">
      <img src="/images/berries-mushroom.webp" alt="Berries and mushrooms in a forest">
    </div>
    <div class="div3">
      <img src="/images/bunny-arms-stretched.webp" alt="Bunny with arms stretched out">
    </div>
    <div class="div4">
      <img src="/images/kitten.webp" alt="Kitten looking up">
    </div>
    <div class="div5">
      <img src="/images/deer-vertical.webp" alt="Deer standing in a forest">
    </div>
    <div class="div6">
      <img src="/images/forest-animal.webp" alt="Forest animal standing">
    </div>
    <div class="div7">
      <img src="/images/bunny-and-flower.webp" alt="Curious fox looking">
    </div>
</div>
